<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://github.com/MikePapinski/DeepLearning">Deep Learning Github notes</a></li>
            <li><a target="blank" href="https://www.youtube.com/watch?v=yw-GM3Hp51g">Download Forex tick data</a></li>
            <li><a target="blank" href="https://www.youtube.com/watch?v=Rhcef3cqao0">Animated candlestick chart Python</a></li>
            <li><a target="blank" href="https://divergencefx.com/">DivergenceFX - News EA</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://www.youtube.com/channel/UCl8p5FVdmBMiRLIqlSP-EmA?" title="Forex Python Tutorial Free"><img src="{{ site.baseurl }}/assets/images/advert/advert1.JPG" alt="Forex Python Tutorial Free" /></a>
       
        </div>
            
</div>